body {
  font-family: "Lora", serif;
  font-weight: 400;
  overflow: auto;           /* Allows scrolling */
  scrollbar-width: none;    /* Hides scrollbar in Firefox */

}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;            /* Hides scrollbar in Chrome, Safari, and Edge */
}


.maintext {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;

}

.icon-filter-white {
  filter: invert(100%) brightness(94%);
}



.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Card appearance animation */
.animate-cardFade {
  animation: cardFade 0.4s ease-in-out;
}

@keyframes cardFade {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-bottom: 20px solid rgb(255, 255, 255);
  
}

.triangle-shadow {
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 24px solid rgba(0, 0, 0, 0.1);
  filter: blur(5px);
  z-index: -1;

}


.hover-border-blur {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hover-border-blur:hover::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 50%;
  backdrop-filter: blur(6px);
  z-index: -1;
  border: 2px solid rgba(255, 255, 255, 0.6);
}